<h1 class="my-3">Nastavení</h1>

<%= render 'flash_messages' %>
<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Nastavení' => nil,
  }
} %>

<p>Nastavit <%= link_to 'kategorie', categories_path %> nebo <%= link_to 'tagy', tags_path %></p>
