<h1 class="my-3">Tagy</h1>

<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Úkoly' => root_path,
    'Nastavení' => settings_path,
    'Tagy' => nil,
  }
} %>

<p><%= link_to 'Přidat nový tag', new_tag_path %></p>

<%= render partial: 'list', locals: { tags: @tags } %>
