$primary: #7b39e5;
$secondary: #88828e;

$gray-100: #f8f2fe;
$gray-200: #e9e3ef;
$gray-300: #ded8e4;
$gray-400: #cec8d4;
$gray-500: #ada7b3;
$gray-600: #6c6672;
$gray-700: #49434f;
$gray-800: #342e3a;
$gray-900: #211b27;

@import "bootstrap";