<h1 class="my-3">Kategorie</h1>

<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Úkoly' => root_path,
    'Nastavení' => settings_path,
    'Kategorie' => nil,
  }
} %>

<p><%= link_to 'Přidat novou kategorii', new_category_path %></p>

<%= render partial: 'list', locals: { categories: @categories } %>
