<h1 class="my-3">Kategorie</h1>

<%= render partial: 'breadcrumb', locals: {
  breadcrumb: {
    'Úkoly' => root_path,
    'Nastavení' => settings_path,
    'Kategorie' => nil,
  }
} %>

<aside class="my-2"><%= link_to 'Přidat novou kategorii', new_category_path %></aside>

<%= render partial: 'list', locals: { categories: @categories } %>
