<p>Dobrý den, <%= @resource.email %>!</p>

<p>Někdo požádal o obnovu hesla k tomuto emailu. Heslo můžete obnovit kliknutím na odkaz níže.</p>

<p><%= link_to 'Změnit mé heslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Pokud o obnovu požádal někdo jiný, můžete email ignorovat.</p>
<p>Vaše heslo se nezmění, pokud nekliknete na odkaz výše a nenastavíte si heslo nové.</p>
