<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% breadcrumb.each do |label, path| %>
      <% if path.nil? %>
        <li class="breadcrumb-item active" aria-current="page"><%= label %></li>
      <% else %>
        <li class="breadcrumb-item"><%= link_to label, path %></li>
      <% end %>
    <% end %>
  </ol>
</nav>
